{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "quotes": "off",
    "linebreak-style": "off",
    "object-curly-spacing": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "indent": "off",
    "no-prototype-builtins": "off"
  },
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "google"]
}
